@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800);

body{
	line-height: 1.6;	
/*	background: rgb(240,240,240);*/
	font-family: 'Merriweather', serif;
	color: rgb(65,65,65);
}

h1{
	font-size: 5em;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -1px;
}

h2{
	font-size: 2.2em;
	line-height: 1.2;
	margin: 10px 0 20px 0;
}

h3 {
	font-size: 1.4em;
	font-family: 'Open Sans', sans-serif;
}

.details{
	margin-bottom: 10px;
}

.author{
	font-weight: 800;
	color: #f1c40f;
}

.tag, .details{
	font-family: 'Open Sans', sans-serif;
}

.tag{
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .8em;
	color: #95a5a6;
}

header {
	margin: 40px 0;
}

footer{
	margin: 40px 0;
	border-top: 1px solid gray;
	padding: 20px 0 0 0;
	font-size: 12px;
}

nav{
	border-bottom: 3px solid #f39c12;
	padding: 15px 0;
	background-color: #f1c40f;
	font-family: 'Open Sans', sans-serif;
}

nav ul{
	text-align: center;
}

nav ul li {
	display: inline;
	padding-left: 20px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
	-webkit-transition: .5s ease all;
}

nav ul li a:hover{
	color: rgb(60,60,60);
}

.main-image img{
	width: 100%;
	margin-bottom: 30px;
}

.post{
	border-bottom: 1px solid gray;
	padding: 30px 0 20px 0;
	margin: 0 0 0 0;
	-webkit-transition: .5s all ease;
}

.content div:last-child{
	border-bottom: none;
}

.post:hover{
	background-color: rgb(80,80,80);
	padding-left: 20px;
	color: white;
}

.sidebar section{
	margin-bottom: 40px;
}

.sidebar section p{
	margin-bottom: 10px;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}