/*

STYLES

*/

body {
	font-family: "Helvetica Neue," Helvetica, arial, sans-serif;
	background: #ddd;
}

#balance {
	background-color: white;
	padding:20px;
	font-size: 50px;
	text-align: center;
	border-radius: 6px;
	margin-bottom: 40px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	font-weight: bold;
}

h1 {
	font-family: Georgia;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

span {
	text-align: center;
}

#container {
	width: 500px;
	margin: auto;
	background: white;
	padding: 20px;
}