@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800);


body {
	font-family: 'Open Sans', sans-serif;
	background: #2ecc71;
}

#container {
	width: 500px;
	margin: 0 auto;
	padding: 20px;
}

#balance {
	background-color: white;
	padding:20px;
	font-size: 50px;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
	-webkit-transition: .5s all ease;
	color: #2c3e50;
}

h1 {
	margin-bottom: 20px;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	color: white;
}

span {
	text-align: center;
	-webkit-transition: .5s all ease;
}

input[type="text"]{
	width: 477px;
	height: 40px;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 40px;
	background-color: #2ecc71;
	border-bottom: 1px solid white;
	border-top: none;
	border-left: none;
	border-right: none;
	padding-bottom: 10px;
	color: white;
}

::-webkit-input-placeholder {
   color: white;
}

input[type="button"]{
	background-color: #95a5a6;
	border: none;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	border-radius: 3px;
	font-size: 1em;
	padding: 13px;
	border-bottom: 5px solid #7f8c8d;
	cursor: pointer;
	-webkit-transition: .5s all ease;
	margin-right: 20px;
}

#deposit:hover{ 
	background-color: #16a085;
	border-color: #1abc9c;
}

#withdraw:hover{
	background-color: #c0392b;
	border-color: #e74c3c;
}

input[type="button"]:hover{
	padding-bottom: 20px;
}








